<ion-header>
    
        </ion-header>
      
<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="assets/Img/hood.jpg" alt="">
      </div>
    </div>
  </div>
<div class="icons">
  <ion-icon [routerLink]="['/registration']" name="calendar" size="large" class="cal"></ion-icon>
  <ion-icon [routerLink]="['/student']" name="person" size="large"></ion-icon>
  <ion-icon [routerLink]="['/registration']" name="document" size="large"></ion-icon>
  <ion-icon [routerLink]="['/registration']" name="stats" size="large"></ion-icon>
  <ion-icon [routerLink]="['/registration']" name="card" size="large"></ion-icon>

</div>

 </ion-content>