<ion-header>
    <ion-toolbar>
        <ion-title>application</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-input name="days" type="number" placeholder="Days"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input name="From" type="date" placeholder="From"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input name="To" type="date" placeholder="To"></ion-input>
    </ion-item>
    <ion-item>

        <ion-textarea style=" border-radius: 2px;">

        </ion-textarea>
    </ion-item>


    <!-- <ion-input class="inp" placeholder="Reason"></ion-input> -->

    <ion-button>
        Confirm
    </ion-button>

</ion-content>