<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Holiday</ion-card-header>
    <ion-card-content>the school will remain closed on february 24th because of strike</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Holiday</ion-card-header>
    <ion-card-content>the school will remain closed on february 24th because of strike</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Holiday</ion-card-header>
    <ion-card-content>the school will remain closed on february 24th because of strike</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Holiday</ion-card-header>
    <ion-card-content>the school will remain closed on february 24th because of strike</ion-card-content>
  </ion-card>

</ion-content>
