ion-card{
    text-align: center;
    width: 92vw;
    overflow: visible;    
}
ion-card-content{
    text-align: center;
    height: 70%;
    overflow: visible;    
}
ion-img{
    height: 20vh;
    width: auto;
    margin-top: -75px;
}

.info {     
    width: 83vw;
}
