<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Student Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  
  <ion-content>
    <br>
    <br>
    <br>
    <br>
    <ion-card>
      <ion-card-content>
        <ion-img src="assets/Img/student-1.jpg"></ion-img>
      </ion-card-content>
      <ion-card-header>
        Archana Shrestha
      </ion-card-header>
    </ion-card>
  </ion-content>

